node_modules
.next
out
dist
dist-electron
.git
.gitignore
.env
.env.*
!.env.example
android
ios
.electron
electron
.vercel
coverage
npm-debug.log
*.apk
*.aab
*.ipa
*.md
!README-GCP.md
.DS_Store
Thumbs.db
*.log
terminals
